* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
}


p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
}


h2 {
    padding-top: 5%;
    padding-bottom: 5%;
}

/*BURGERMENU*/
.pcmenu {
    display: none;
}

#topmenu {
    list-style-type: none;
    transition: transform 1s;
    z-index: 1;
    width: 100%;
    height: 106%;
    top: -1rem;
    position: fixed;
    background-image: url(SVG/blomst.svg);
    background-repeat: no-repeat;
    background-color: white;
}


#topmenu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.6rem;
}


#topmenu li {
    padding-top: 4.7rem;
    padding-left: 9rem;
    font-size: 1.6rem;


}

.hidden {
    transform: translatey(-150%);

}

#menuknap {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 88vw;
    top: 4vw;
    z-index: 2;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}




#dropdownmobil {
    position: relative;
    display: inline-block;
}

#dropdown-contentmobil {
    display: none;
    position: relative;
    left: 70%;
    top: 75%;
    min-width: 160px;
}

#dropdown-contentmobil li {
    list-style-type: none;
    padding-top: 1rem;
    padding-left: 0rem;
    font-size: 1.6rem;
    right: 68%;
    position: relative;
}


#dropdownmobil2 {
    position: relative;
}

#dropdown-contentmobil2 {
    display: none;
    position: relative;
    left: 47%;
    top: 75%;
    min-width: 160px;
}

#dropdown-contentmobil2 li {
    list-style-type: none;
    padding-top: 1rem;
    padding-left: 0rem;
    font-size: 1.6rem;
    right: 45%;
    position: relative;
}



/*BURGERMENU SLUT*/







/*forside mobil*/

#splashdesktop {
    display: none;
}


#opacity {
    background-color: rgba(1, 7, 11, 0.22);
    width: 100vw;
    position: absolute;
    height: 55.6vw;
    z-index: 2;
    pointer-events: none;

}

#logo {
    background-image: url(SVG/Logo_hvid.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 50vw;
    height: 12vw;
    top: 3vw;
    left: 28%;
    background-size: 100%;
}


#logo2 {
    background-image: url(SVG/Logo_sort.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 50vw;
    height: 12vw;
    top: 3vw;
    left: 27%;
    background-size: 100%;
}


#splashtekst {
    position: absolute;
    color: white;
    top: 50%;
    left: 13%;
    z-index: 3;
    font-size: 2.5rem;
    text-align: center;
    padding-left: 7vw;
    padding-right: 7vw;  
}

#splashtekst .fas{
    font-size: 3rem;
}

.fa-quote-left{
 
    position: relative;
    top: 2vw;
    left: 1%;
}

.fa-quote-right{
    position: relative;
    bottom: 2;
    right: 1%;
}


#infografik {
    padding-right: 14vw;
    padding-left: 14vw;
    padding-top: 4vw;
}


.streg1 {
    background-image: url(SVG/stregtegning_familie.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 1vw;
    bottom: -110vw;
    background-size: 100%;
}

.streg2 {
    background-image: url(SVG/stregtegning_familie.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 19vw;
    height: 20vw;
    left: 0vw;
    bottom: 15vw;
    background-size: 100%;
    z-index: -1;

}

.column {
    flex-basis: 400px;
    flex-grow: 1;
}

.column2 {
    flex-basis: 400px;
    flex-grow: 1;
}



#start h1 {
    text-align: center;
}


#infografik {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 25vw;
    margin: 0;
    padding-right: 7.14286vw;
    padding-left: 7.14286vw;
}

.infowrap h1,
h2,
p {
    margin-top: 0;
}

.infowrap {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 0;
    transition: 0.5s;
    text-align: center;
}

.info1 {
    text-align: center;
    height: 25vw;
    margin: 0;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info1 div {
    flex-basis: 300px;
    flex-grow: 1;
}

.info2 p,
ol {
    padding: 0 2rem 0 2rem;
}


.info2 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.67);
    height: 25vw;
    margin: 0;
    display: inline-block;
    text-align: left;
    display: table-cell;
    vertical-align: middle;

}

.infowrap:hover {
    margin-top: -25vw;
    transition: 1.0s;
}




/*værker mobil */

.produkter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    grid-gap: 3rem;
}

/*om mobil*/



#videomobil,
#about,
#start {
    padding-right: 7vw;
    padding-left: 7vw;
}

#videomobil p {
    padding-top: 5%;
    padding-bottom: 5%;
}

#start img {
    padding-top: 5%;
    padding-bottom: 5%;
}

#videomobil h1 {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

#videomobil {
    display: block;
}

#mobilvideo {
    width: 85vw;
}

.desktoponly {
    display: none;
}

#start {
    flex-direction: column-reverse;
    display: flex;
}


/*aktuelt mobil*/

#actual {
    padding-right: 7vw;
    padding-left: 7vw;
}

#actual img {
    padding-top: 7%;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}



#actual h1 {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}



/*kontakt mobil*/

.container {
    margin-bottom: 10vw;
    padding-left: 7vw;
    padding-right: 7vw;
}

#contacth1 {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%;
}

input[type=text],
input[type=password],
input[type=email],
input[type=phone] {
    width: 84.4vw;
    padding: 1%;
    margin: 0vw 0 1vw 0;
    display: inline-block;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}


input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=phone]:focus {
    background-color: #d8d5d5;
}


textarea {
    width: 84.4vw;
    height: 30vw;
    padding: 12px 20px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    resize: none;
}

.zealand {
   padding-left: 7vw;
   padding-right: 7vw;
}

.zealand a{
    color: black;
    text-decoration: none
}



.atelierpicture {
    display: flex;
}

.galleripicture {
    display: flex;
}

.submit {
    background-color: #ad2222;
    color: white;
    padding: 2.5% 1.5%;
    margin: 2vw 22vw;
    cursor: pointer;
    width: 45%;
    font-size: 1rem;
}

label {
    color: #806a6a;
}


#galleri img,
#galleri h2,
#atelier img,
#atelier h2 {
    padding-top: 5%;
    padding-bottom: 5%;
}

.streg2 {
    display: none;
}




/*Ipad media query*/
@media only screen and (min-width: 768px) {

    /*Generelt*/
    .column {
        flex-basis: 320px;
        padding-right: 2vw;
        padding-left: 7vw;
    }

    .column2 {
        flex-basis: 320px;
        flex-grow: 1;
        padding-right: 7vw;
        padding-left: 5vw;
    }


    #form .column2 {
        padding-top: 8vw;
    }

    #logo2 {
        top: 2.1vw;
    }

    /*aktuelt ipad*/
    #actual {
        padding-right: 0vw;
        padding-left: 0vw;
    }

    #actual img {
        padding-top: 0%;
    }

    #actual h2 {
        padding-top: 0%;
    }


    .sectionwrapper {
        padding-bottom: 4vw;
        flex-direction: row;
    }

    /*forside ipad*/
    #logo {
        background-image: url(SVG/Logo_hvid.svg);
        position: fixed;
        width: 19vw;
        top: 2.5vw;
        height: 5vw;
        left: 1vw;
    }




    #logo2 {
        position: fixed;
        width: 20vw;
        top: 2.1vw;
        height: 5vw;
        left: 1vw;
    }





    h1 {
        font-size: 2.5rem;
        margin-bottom: 5%;

    }

    #infografik img {
        width: 70%;
    }

    nav p {
        padding: 0rem;
    }


    #mobilemeet {

        display: block;
        position: relative;
        top: auto;
        left: auto;
        color: black;
        box-shadow: none;
        background-color: transparent;
        width: auto;
        height: auto;

    }



    /*NAVIGATION*/

    nav {
        position: fixed;
        top: 0;
        left: 0;
        transition: background-color 0.5s ease-out;
        z-index: 3;
        width: 100vw;
    }




    #splashvideo {
        z-index: -1;
    }

    nav p {
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }

    nav p:hover {
        background-color: gold;
        background-size: cover;
        cursor: default;
    }

    #dropdown_content p {
        padding: 1.5rem;
    }

    nav a:hover {
        background-color: gold;
        background-size: cover;
    }

    .top2:hover {
        background-color: gold;
        background-size: cover;
        color: black;
    }





    nav li {
        display: inline-block;
        position: relative;
        color: black;
        text-align: center;
        width: 15vw;
    }

    #navbar a {
        text-decoration: none;
        display: block;
        font-family: 'Montserrat', sans-serif;
        padding: 1.5rem;
        font-weight: bolder;

    }

    #navbarwhite a {
        text-decoration: none;
        color: #000000;
        display: block;
        font-family: 'Montserrat', sans-serif;
        padding: 1.5rem;
        font-weight: bolder;
    }

    #navbarwhite #logoa {
        padding: 0rem;
    }

    #navbar #logoa {
        padding: 0rem;
    }



    #dropdown_content {
        display: none;
        z-index: 2;
    }


    .dropdown:hover #dropdown_content {
        display: block
    }

    #malerier {
        display: none;
        position: absolute;
        left: 100%;
        top: 0%;
        z-index: 2;

    }

    .malerier_dropdown:hover #malerier {
        display: block;
    }


    .dropdown2 {
        position: relative;
        display: inline-block;
        z-index: 2;

    }


    #dropdown_content2 {
        display: none;
        z-index: 2;
    }

    .dropdown2:hover #dropdown_content2 {
        display: block;
    }


    .dropdown3 {
        position: relative;
        display: inline-block;
        z-index: 2;
    }

    #dropdown_content3 {
        display: none;
        z-index: 2;

    }



    .dropdown3:hover #dropdown_content3 {
        display: block;
    }



    .dropdown4 {
        position: relative;
        display: inline-block;
    }


    #dropdown_content4 {
        display: none;
        position: absolute;
        left: 100%;
        bottom: -198%;
        z-index: 2;

    }


    .dropdown4:hover #dropdown_content4 {
        display: block;
    }


    .scroll {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
        box-shadow: 0 0 25px rgb(173, 165, 165);
        background-color: transparent;
        color: black;
    }

    .scroll:hover {
        background-color: gold;
        background-size: cover;
        color: black;
    }


    .top {
        color: white;
    }


    .top2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        box-shadow: 0 0 25px rgba(0, 0, 0, 0);
        background-color: transparent;
        color: white;
    }



    nav li ul {
        position: absolute;
    }




    .active {
        border-bottom: 2px solid gold;
    }

    .burgermenu {
        display: none;
    }

    .pcmenu {
        display: block;
        float: right;
    }

    #splashdesktop {
        display: block;
        width: 100%;
    }

    #mobilsplash {
        display: none;
    }


    #news,
    #meet,
    #about,
    #start,
    #form {
        display: flex;
        flex-wrap: wrap;
        padding-left: 7vw;
        padding-right: 7vw;
        padding-top: 2vw;
    }




    /*om ipad*/

    #videomobil {
        display: none;
    }

    .desktoponly {
        display: block;
    }

    #start {
        flex-direction: column;
    }

    #about {
        margin-top: 8%;

    }



    /* div zealand*/


    footer h6 {
        font-size: 1.3rem;
        padding: 1rem 0 0.5rem 0;
    }

    footer h3 {
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }

    footer h2 {
        font-size: 2rem;
    }

    footer h5 {
        font-size: 1.3rem;
        padding: 1rem 0;
    }

    .zealand {
        width: 30vw;
        height: 30vw;
        background-image: url(SVG/zealand.svg);
        background-size: contain;
        display: inline-block;
        position: relative;
        padding-left: 0vw;
   padding-right: 0vw;
    }

    .slagelse {
        width: 3vw;
        height: 3.5vw;
        background-image: url(SVG/lokation.svg);
        background-size: 100%;
        position: absolute;
        top: 14vw;
        left: 8vw;
    }

    .ordrup {
        width: 3vw;
        height: 3.5vw;
        background-image: url(SVG/lokation.svg);
        background-size: 100%;
        position: absolute;
        top: 6vw;
        left: 25vw;
    }

    #galleri {
        display: none;
        background-color: rgb(149, 122, 122);
        color: white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 4vw;
        top: -7vw;
        padding: 2vw;
    }

    #atelier {
        display: none;
        background-color: rgb(149, 122, 122);
        color: white;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: 3vw;
        top: -10vw;
        padding: 2vw;
    }

    .ordrup:hover #galleri {
        display: block;
    }

    .slagelse:hover #atelier {
        display: block;
    }


    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        padding: 4rem 5rem 0rem 4rem;
        background-color: black;
        color: white;

    }

    .footer1 img {
        width: 10%;
    }

    .social {
        text-align: center;
        padding: 4rem;
    }

    .footer1 {
        grid-column: 1;
        grid-row: 1;
        display: inline-block;
        text-align: left;
        max-width: 40vw;
    }

    .footer2 {
        grid-column: 2;
        grid-row: 1;
        display: inline-block;
        text-align: left;
        padding: 0 0 0 5rem;
        max-width: 60vw;

    }

    .kontakt_os p {
        padding: 0 0 0.5rem 0;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

    }

    .grid2 p {
        padding: 0.1rem 0;
    }

    .lokationer {
        grid-column: 1;
        grid-row: 1;
    }

    .lokationer p {
        padding: 0.5rem 0;
    }


    .kontakt_oplysninger {
        grid-column: 2;
        grid-row: 1;
    }

    .kontakt_oplysninger p {
        padding: 0.5rem 0;
    }

    .borderbottom {
        border-bottom: 1px solid white;
    }

    .lokationer a {
        text-decoration: none;
        color: white;
    }

    .lokationer a:hover {
        text-decoration: underline;
    }

    .kontakt_per a {
        text-decoration: none;
        color: white;
    }

    .kontakt_per a:hover {
        text-decoration: underline;
    }



    /*værker ipad*/
    .produkter {
        grid-template-columns: repeat(2, 1fr);
    }

    #popup {
        top: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: hsla(0, 1%, 69%, 0.5);
        display: none;
    }

    #indhold {
        min-height: 50vh;
        width: 30vw;
        margin: 4rem auto;
        color: white;
        padding-top: 3em;

    }



    .menu button {
        width: 6rem;
        height: 4rem;
        cursor: pointer;
        font-weight: bold;
        background-color: white;
        border-radius: 60px;
    }

    .valgt {
        background-color: #ef1111;
    }

    #luk {
        position: fixed;
        right: 25em;
        top: 7.2em;
    }

    #luk button {
        font-size: 2rem;
        padding: 1rem 1rem;
        background-color: black;
        color: #EEDDC4;
    }




    /*kontakt ipad*/

    .streg2 {
        bottom: 20%;
        display: block;

    }

    .container {
        margin-bottom: 0vw;
        padding-left: 0vw;
        padding-right: 0vw;
    }

    #contacth1 {
        margin-bottom: 0%;
        margin-top: 12%;
    }

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=phone] {
        width: 24.4vw;

    }


    textarea {
        width: 24.4vw;
        height: 10vw;
    }


    .submit {
        margin: 2vw 4.5vw;
    }

    #adress {
        margin-top: 0%;
    }



    .galleripicture {
        display: none;
    }

    .atelierpicture {
        display: none;
    }

}

/*Desktop*/
@media only screen and (min-width: 1025px) {


    nav li {
        display: inline-block;
        position: relative;
        color: black;
        text-align: center;
        width: 11vw;
    }

    nav p {
        padding: 1.5rem;
    }



    #logo {
        width: 14vw;
        top: 0.5vw;
        height: 5vw;
        left: 1vw;
    }
    
    
    
    #logo2 {
        width: 14vw;
        top: 0.5vw;
        height: 5vw;
        left: 1vw;
    }
    
    

    #contacth1 {
        margin-top: 8%;

    }

    .streg2 {
        bottom: -3%;
    }


    /*værker desktop*/
    .produkter {
        grid-template-columns: repeat(4, 1fr);
    }

    /*aktuelt desktop*/

    .column2 {
        flex-basis: 600px;
        flex-grow: 2;
    }

    /*om desktop*/
    #form .column2 {
        padding-top: 0vw;
    }



}
