* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
}



/*Forside indhold*/



#splashdesktop {
    display: none;
}


#opacity{
    background-color: rgba(1, 7, 11, 0.22);
    width: 100vw;
    position: absolute;
    height: 55.6vw;
    z-index: 2;
    pointer-events: none;
    
}
#logo{
    background-image: url(SVG/Logo_hvid.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 50vw;
    height: 12vw;
    top: 3vw;
    left: 28%;
    background-size: 100%;
    }


#logo2{
    background-image: url(SVG/Logo_sort.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 50vw;
    height: 12vw;
    top: 3vw;
    left: 28%;
    background-size: 100%;
    }


#splashtekst{
    position: absolute;
    color: white;
    top: 65%;
    left: 18%;
    z-index: 3;
}




#splashtekst h1{
    font-size: 5rem;
    text-align: center;
}

#splashtekst p{
    font-size: 2.5rem;
}

#infografik {
        padding-right: 14vw;
    padding-left: 14vw;
    padding-top: 4vw;
}


.streg1{
    background-image: url(SVG/stregtegning_familie.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 1vw;
    bottom: -110vw;
    background-size: 100%;
    }

.streg2{
    background-image: url(SVG/stregtegning_familie.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 19vw;
    height: 20vw;
    left: 0vw;
    bottom: 15vw;
    background-size: 100%;
    z-index: -1;

    }

.column {
    flex-basis: 400px;
    flex-grow: 1;
    
    padding-left: 7.14286vw;
}



#start h1{
 text-align: center;
}


#infografik {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 25vw;
    margin: 0;
    padding-right: 7.14286vw;
    padding-left: 7.14286vw;
}

.infowrap h1,
h2,
p {
    margin-top: 0;
}

.infowrap {
    flex-basis: 200px;
    flex-grow: 1;
    margin: 0;
    transition: 0.5s;
    text-align: center;
}

.info1 {
    text-align: center;
    height: 25vw;
    margin: 0;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info1 div {
    flex-basis: 300px;
    flex-grow: 1;
}

.info2 p,
ol {
    padding: 0 2rem 0 2rem;
}


.info2 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.67);
    height: 25vw;
    margin: 0;
    display: inline-block;
    text-align: left;
    display: table-cell;
    vertical-align: middle;

}

.infowrap:hover {
    margin-top: -25vw;
    transition: 1.0s;
}




/*BURGERMENU*/
.pcmenu {
    display: none;
}

#topmenu {
    list-style-type: none;
    transition: transform 1s;
    z-index: 1;
    width: 100%;
    height: 106%;
    top: -1rem;
    position: fixed;
    background-image: url(SVG/blomst.svg);
    background-repeat: no-repeat;
    background-color: white;
}


#topmenu a {
    text-decoration: none;
    color: #000000;
    font-size: 1.6rem;
}


#topmenu li {
    padding-top: 4.7rem;
    padding-left: 9rem;
    font-size: 1.6rem;

    
}

.hidden {
    transform: translatey(-150%);

}

#menuknap {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    left: 88vw;
    top: 4vw;
    z-index: 2;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}




#dropdownmobil {
    position: relative;
    display: inline-block;
}

#dropdown-contentmobil {
    display: none;
    position: relative;
    left: 70%;
    top: 75%;
    min-width: 160px;
}

#dropdown-contentmobil li {
    list-style-type: none;
    padding-top: 1rem;
    padding-left: 0rem;
    font-size: 1.6rem;
    right: 68%;
    position: relative;
}


#dropdownmobil2 {
    position: relative;
}

#dropdown-contentmobil2 {
    display: none;
    position: relative;
    left: 47%;
    top: 75%;
    min-width: 160px;
}

#dropdown-contentmobil2 li {
    list-style-type: none;
    padding-top: 1rem;
    padding-left: 0rem;
    font-size: 1.6rem;
    right: 45%;
    position: relative;
}


#dropdownmobil3 {
    position: relative;
    display: inline-block;
    
}

#dropdown-contentmobil3 {
    display: none;
    position: relative;
    left: 22%;
    top: 75%;
    min-width: 160px;
    
}

#dropdown-contentmobil3 li {
    list-style-type: none;
    padding-top: 1rem;
    padding-left: 0rem;
    font-size: 1.6rem;
    right: 20%;
    position: relative;
}


/*BURGERMENU SLUT*/



/*OM*/

#videomobil{
    display: block;
}

#mobilvideo{
    width: 90vw;
    padding: 2.5vw;
    margin-left: 5%
}

.desktoponly{
    display: none;
}

#start{
        flex-direction:column-reverse;
    display: flex; 
    }



/*forside*/


#mobilemeet{
display: block;
    position: absolute;
    top: 73%;
    left: 0%;
    color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    background-color: #00000085;
    width: 100vw;
    height: 20vw;
}

.somelogo{
    display: none;
}


/*kontakt*/

.container{
        margin-bottom: 10vw;
    }

#contacth1
{
 text-align: center;
margin-top: 6%;
        margin-bottom: 5%;
}

input[type=text], input[type=password], input[type=email], input[type=phone] {
  width: 84.4vw;
  padding: 1%;
  margin: 0vw 0 1vw 0;
  display: inline-block;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
}


input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=phone]:focus {
  background-color: #d8d5d5;
}


textarea{
  width: 84.4vw;
  height: 30vw;
  padding: 12px 20px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  resize: none;
}



.submit {
  background-color: #ad2222;
  color: white;
  padding: 2.5% 1.5%;
  margin: 2vw 22vw;
  cursor: pointer;
  width: 45%;
  font-size: 1rem;
}

label{
    color: #806a6a;
}









/*aktuel*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#actual h1
{
 text-align: center;
margin-top: 8%;
margin-bottom: 5%;
}







/*Ipad*/
@media only screen and (min-width: 768px) {

    
    #logo{
    background-image: url(SVG/Logo_hvid.svg);
    position: fixed;
    width: 19vw;
    top: 2.5vw;
    height: 5vw;
    left: 1vw;
    }
    
    
    
    
#logo2{
    position: fixed;
    width: 20vw;
    top: 0.1vw;
    height: 5vw;
    left: 1vw;
    }
    
    p{
        font-family: 'Montserrat', sans-serif;
    }
    
    h1,h2,h3,h4, h5, h6{
        font-family: 'Merriweather', serif;
    }
    
    h1{
        font-size: 2.5rem;
        margin-bottom: 5%;
        
    }
    
    #infografik img{
        width: 70%;
    }
    
    
    /*NAVIGATION*/

    nav {
        position: fixed;
        top: 0;
        left: 0;
        transition:  background-color 0.5s ease-out;
        z-index: 3;
        width: 100vw;
    }
    
    
    
    
    #splashvideo {
        z-index: -1; 
    }
    
    nav p {
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    }
    
     nav p:hover {
        background-color: gold;
        background-size: cover;
        cursor: default;
    }
    
    #dropdown_content p{
        padding: 1.5rem;
    }
    
     nav a:hover {
        background-color: gold;
        background-size: cover;
    }
    
     .top2:hover {
        background-color: gold;
        background-size: cover;
         color: black;
    }
    
   



    nav li {
        display: inline-block;
        position: relative;
        color: black;
        text-align: center;
        width: 15vw;
    }

    #navbar a {
        text-decoration: none;
        display: block;
        font-family: 'Montserrat', sans-serif;
        padding: 1.5rem;
        font-weight: bolder;
        
    }
    
    #navbarwhite a {
        text-decoration: none;
        color: #000000;
        display: block;
        font-family: 'Montserrat', sans-serif;
        padding: 1.5rem;
        font-weight: bolder;
        }
    
#navbarwhite #logoa{
    padding: 0rem; 
}
    
 #navbar #logoa{
    padding: 0rem; 
}
    


    #dropdown_content {
        display: none;
        z-index: 2;
    }
        

    .dropdown:hover #dropdown_content {
        display: block
    }

    #malerier {
        display: none;
        position: absolute;
        left: 100%;
        top: 0%;
        z-index: 2;

    }

    .malerier_dropdown:hover #malerier {
        display: block;
    }


    .dropdown2 {
        position: relative;
        display: inline-block;
        z-index: 2;
        
    }


    #dropdown_content2 {
      display: none;
        z-index: 2;
    }

    .dropdown2:hover #dropdown_content2 {
        display: block;
    }


    .dropdown3 {
        position: relative;
        display: inline-block;
        z-index: 2;
    }

    #dropdown_content3 {
      display: none;
        z-index: 2;

    }

  

    .dropdown3:hover #dropdown_content3 {
        display: block;
    }



    .dropdown4 {
        position: relative;
        display: inline-block;
    }


    #dropdown_content4 {
        display: none;
        position: absolute;
        left: 100%;
        bottom: -198%;
        z-index: 2;
        
    }


    .dropdown4:hover #dropdown_content4 {
        display: block;
    }

    
    .scroll{
        background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
        box-shadow: 0 0 25px rgba(0, 0, 0, 0);
        background-color: transparent;
        color: black;
    }
    
    .scroll:hover {
        background-color: gold;
        background-size: cover;
         color: black;
    }
    
    
    .top{
        background-image: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.21));
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        background-color: transparent;
        color: white;
    }

    
     .top2{
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        box-shadow: 0 0 25px rgba(0, 0, 0, 0);
        background-color: transparent;
        color: white;
    }
    


    nav li ul {
        position: absolute;
    }




    .active {
        border-bottom: 2px solid gold;
    }

    .burgermenu {
        display: none;
    }

    .pcmenu {
        display: block;
        float: right;
    }
    
    #splashdesktop {
    display: block;
    width: 100%;
}
    
    #mobilsplash{
        display: none;
    }


    #news, #meet, #about, #start, #form {
    display: flex;
    flex-wrap: wrap;
    padding-right:  8vw;
    padding-left:  8vw;
    padding-top:  4vw;
}

    .grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}
    
   

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
    &:nth-child(odd) {
        background-color: #424242;
    }
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}    
    
     /*OM*/
    
    #videomobil{
        display: none;
    }
    
    .desktoponly{
    display: block;
}
    
    #start{
        flex-direction:column;
    }
    
/*Forside*/ 
    
#mobilemeet{
    
    display: block;
    position: relative;
    top: auto;
    left: auto;
    color: black;
    box-shadow: none;
    background-color: transparent;
    width: auto;
    height: auto;

    }



.somelogo{
    display: block
}
    
    
   /* div zealand*/
    
    
        footer h6 {
            font-size: 1.3rem;
            padding: 1rem 0 0.5rem 0;
        }
        
         footer h3{
            font-size: 1.5rem;
            padding: 0.5rem 0;
        }
        
         footer h2{
            font-size: 2rem;
        }
         
        footer h5{
            font-size: 1.3rem;
            padding: 1rem 0;
        }
        .zealand {
            width: 30vw;
            height: 30vw;
            background-image: url(SVG/zealand.svg);
            background-size: contain;
            display: inline-block;
            position: relative;
        }

        .slagelse {
            width: 3vw;
            height: 3.5vw;
            background-image: url(SVG/lokation.svg);
            background-size: 100%;
            position: absolute;
            top: 14vw;
            left: 8vw;
        }

        .ordrup {
            width: 3vw;
            height: 3.5vw;
            background-image: url(SVG/lokation.svg);
            background-size: 100%;
            position: absolute;
            top: 6vw;
            left: 25vw;
        }
    
#galleri{
    display: none;
    width: 25%;
    background-color: red;
    position: absolute;
    left: 86%;
    top: 10%
}

#atelier{
    display: none;
    background-color: blue;
    max-width: 16%;
    position: absolute;
    left: 50%;
    top: 50%
}
    
    .ordrup:hover #galleri {
        display: block;
    }

.slagelse:hover #atelier {
        display: block;
    }
        
        footer{
         display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
            text-align: center;
            padding: 4rem 5rem 0rem 4rem;
            background-color: black;
            color: white;
            
        }
        
        .footer1 img {
            width: 10%;
        }
        
        .social{
            text-align: center;
            padding: 4rem;
        }
        
        .footer1 {
            grid-column: 1;
            grid-row: 1;
            display: inline-block;
            text-align: left;
            max-width: 40vw;
        }
        
        .footer2 {
            grid-column: 2;
            grid-row: 1;
            display: inline-block;
            text-align: left;
            padding: 0 0 0 5rem;
            max-width: 60vw;
            
        }
        
        .kontakt_os p{
            padding: 0 0 0.5rem 0;
        }
        
        .grid2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            
        }
        
        .grid2 p {
            padding: 0.1rem 0;
        }
        
        .lokationer {
            grid-column: 1;
            grid-row: 1;
        }
        
        .lokationer p {
            padding: 0.5rem 0;
        }
        
        
        .kontakt_oplysninger {
            grid-column: 2;
            grid-row: 1;
        }
        
           .kontakt_oplysninger p {
           padding: 0.5rem 0;
        }
        
        .borderbottom {
            border-bottom: 1px solid white;
        }
        
        .lokationer a {
            text-decoration: none;
            color: white;
        }
        
        .lokationer a:hover {
            text-decoration: underline;
        }
        
        .kontakt_per a{
            text-decoration: none;
            color: white;
        }
        
        .kontakt_per a:hover {
            text-decoration: underline;
        }
                
    
    
    /*værker ipad*/
    
    
 #popup {
     top: 0;
     width: 100vw;
     height: 100vh;
     position: fixed;
     background-color: hsla(0, 1%, 69%, 0.5);
     display: none;
 }

 #indhold {
     min-height: 50vh;
     width: 30vw;
     margin: 4rem auto;
     color: white;
     padding-top: 3em;

 }



 .menu button {
     width: 6rem;
     height: 4rem;
     cursor: pointer;
     font-weight: bold;
     background-color: white;
     border-radius: 60px;
 }

 .valgt {
     background-color: #ef1111;
 }

 #luk {
     position: fixed;
     right: 25em;
    top: 7.2em;
 }

 #luk button {
     font-size: 2rem;
     padding: 1rem 1rem;
     background-color: black;
     color: #EEDDC4;
 }
    
    
    /*kontakt ipad*/
    
    .streg2{
    bottom: 20%;


    }
    
    .container{
        margin-bottom: 0vw;
    }
    
    #contacth1
{
        margin-bottom: 0%;
    margin-top: 10%;
}
   
input[type=text], input[type=password], input[type=email], input[type=phone] {
  width: 24.4vw;

}


textarea{
  width: 24.4vw;
  height: 10vw;
}


.submit {
  margin: 2vw 4.5vw;
}
    
    #adress{
    margin-top: 0%;
}


 
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
    
     nav li {
        display: inline-block;
        position: relative;
        color: black;
        text-align: center;
        width: 11vw;
    }
    
     nav p {
        padding: 1.5rem;
    }
    
    #logo{
    width: 14vw;
    top: 0.5vw;
    height: 5vw;
    left: 1vw;
    }
    
    #contacth1
{
margin-top: 8%;
       
}
    .streg2{
    bottom: -3%;
    }

    
}
